.content-login {
    /* height: calc(100vh - 60vh); */
    width: calc(100% - 80%);
    background-color: #EEEEEE;
    border-radius: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.content-header {
    width: 100%;
    height: 50px;
}

.content-main {
    width: 100%;
}

.password-login {
    margin-top: 10px;
}

.button-login {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.btn-login {
    width: 100px;
}

.button-register {
    width: 100%;
    height: 50px;
}