.content {
  width: calc(100% - 250px - 300px);
  /* height: calc(100vh - 60px); */
  border-radius: 20px;
  background-color: #eff2f4;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
}

.profile-infor {
  display: flex;
  justify-content: space-between;
}

.profile-infor-right-row, .profile-infor-left-row {
  width: 90%;
  margin-top: 15px;
}

.profile-infor-left, .profile-infor-right {
  width: 50%;
}

.profile-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}