.sidebar-right-friends-online {
  width: calc(100% - 20px);
  height: 36px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar-right-friends-online:hover {
  background-color: #dfe5e8;
}

.friends-online-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.friends-online-name {
  font-size: 17px;
  font-weight: 600;
  margin-left: 10px;
}
